$md-xl: "screen and (min-width: 1700px)";
$md-lg: "screen and (max-width: 1124px)";
$md-md: "screen and (max-width: 991px)";
$md-sm: "screen and (max-width: 780px)";
$md-xs: "screen and (max-width: 575px)";
$heightquery: "screen and (max-height: 850px)";
$heightquery--lower: "screen and (max-height: 680px)";
$largeimage: "screen and (max-height: 1700px)";

@media #{$largeimage} {
  .section {
    .section__image {
      &--right {
        height: 75vh;
      }
    }
  }
}

@media #{$md-xl} {
  .section {
    .section__image {
      &--right {
        height: 80vh;
      }
    }
  }
}

@media #{$md-lg} {
  .section {
    .section__image {
      &--left {
        display: none;
      }
    }

    .section__container {
      .section__header {
        margin-top: 7vmin;

        .header__title {
          font-size: 90px;
          line-height: 90px;
        }

        .header__subtitle {
          margin-top: 3vmin;
          font-size: 24px;
          line-height: normal;
        }
      }

      .section__content {
        width: 692px;
        margin-top: 8vmin;
      }
    }
  }
}

@media #{$md-md} {
  .section {
    .section__container {
      width: 80%;
    }
  }
}

@media #{$md-sm} {
  .section {
    background-size: auto;
    background-position: 0px 94%;

    .section__image {
      &--right {
        height: 73vmax;
        max-height: 73vmax;
        margin-bottom: 15vmin;
      }
    }

    .section__container {
      width: 100%;
      height: 100%;
      min-height: 100vh;
      padding: 0 10vmin;
      padding-bottom: 9vh;
      display: flex;
      justify-content: space-between;

      .section__header {
        width: 100%;
        text-align: left;
        margin-top: 7vmin;

        .header__title {
          font-size: 90px;
          line-height: 90px;
        }

        .header__subtitle {
          margin-top: 3vmin;
          font-size: 24px;
          line-height: normal;
        }
      }

      .section__content {
        width: 100%;
        margin-top: 8vmin;

        .content__heading {
            font-size: 2.75vmin;
        }
      }
    }
  }
}

@media #{$heightquery} {
  .section {
    .section__image {
      &--right {
        right: 0;
        height: 59vh;
        bottom: 4vmin;
      }
    }
  }
}

@media #{$heightquery--lower} {
  .section {
    min-height: 110vh;

    .section__image {
      &--right {
        right: 0;
        height: 70vh;
      }
    }
    .section__container {
      .section__header {
        .header__title {
          font-size: 9.39vmin;
        }

        .header__subtitle {
          font-size: 2.5vmin;
          line-height: 3vmin;
        }
      }
    }
  }
}

@media #{$md-xs} {
  .section {
    background-position: bottom;

    .section__image {

      &--right {
        height: 61vh;
        right: -40vmin;
        bottom: auto;
        top: 30vmin;
      }
    }

    .section__container {
      padding: 0 3vmin;
      padding-bottom: 25vmin;
      padding-top: 1vmin;

      .section__header {
        padding-left: 5vmin;

        .header__title {
          font-size: 16vmin;
          line-height: 16vmin;
        }

        .header__subtitle {
          margin-top: 3vmin;
          font-size: 14px;
          line-height: normal;
        }
      }

      .section__content {
        padding: 32px 10px;
        padding-bottom: 0;

        .content__heading {
          line-height: 16px;
          font-size: 12px;
        }

        .content__form {
          .form__text {
            line-height: 16px;
            font-size: 12px;
          }

          .form__input {
            line-height: 16px;
            font-size: 14px;
            margin-top: 6vmin;

            /* do not group these rules */
            &::-webkit-input-placeholder {
              line-height: 16px;
              font-size: 14px;
            }

            &:-moz-placeholder {
              line-height: 16px;
              font-size: 14px;
            }

            &::-moz-placeholder {
              line-height: 16px;
              font-size: 14px;
            }

            &:-ms-input-placeholder {
              line-height: 16px;
              font-size: 14px;
            }
          }

          .form__btn {
            font-size: 3.94vmin;
            width: 85%;
          }
        }
      }
    }
  }
}
