@import "settings";
@import "fonts";

body, html {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.section {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url(../assets/images/bg.png);
  background-size: contain;
  position: relative;

  .section__image {
    position: absolute;
    pointer-events: none;
    bottom: 0;

    &--left {
      left: 0;
      height: 52vh;
      z-index: 1;
    }

    &--right {
      right: 0;
      height: 80vh;
      bottom: 0;
    }
  }

  .section__container {
    width: 932px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;

    .section__header {
      text-align: center;
      margin-top: 6vmin;
      color: $darkgrey;

      .header__title {
        font-size: 120px;
        font-family: "Montserrat-Bold";
      }

      .header__subtitle {
        font-size: 32px;
        line-height: 39px;
        font-family: "Montserrat-Bold";

        .subtitle__trans {
          display: block;
          font-weight: normal;
          font-family: "Montserrat-LightItalic";
        }
      }
    }

    .section__content {
      width: 615px;
      background: $white;
      border-radius: 4px;
      padding: 32px 16px;
      padding-bottom: 0;
      text-align: center;
      margin-top: 10vmin;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25), 0px 5px 12px rgba(0, 0, 0, 0.25);

      .content__heading {
        font-family: "Montserrat-Regular";
        font-size: 20px;
        color: $darkgrey;
      }

      .content__form {
        .form__text {
          font-size: 12px;
          font-family: "Montserrat-Light";
          color: $grey;
        }

        .form__input {
          width: 100%;
          padding: 14px 16px;
          background-color: $lightgrey;
          border-radius: 4px;
          margin: 32px 0;
          border: none;
          line-height: 20px;
          font-size: 16px;
          color: $darkgrey;
          font-family: "Montserrat-Regular";

          /* do not group these rules */
          &::-webkit-input-placeholder {
            line-height: 20px;
            font-size: 16px;
            color: $grey--input;
            font-family: "Montserrat-Regular";
          }

          &:-moz-placeholder {
            line-height: 20px;
            font-size: 16px;
            color: $grey--input;
            font-family: "Montserrat-Regular";
          }

          &::-moz-placeholder {
            line-height: 20px;
            font-size: 16px;
            color: $grey--input;
            font-family: "Montserrat-Regular";
          }

          &:-ms-input-placeholder {
            line-height: 20px;
            font-size: 16px;
            color: $grey--input;
            font-family: "Montserrat-Regular";
          }
        }

        .form__btn {
          display: block;
          width: 265px;
          height: 64px;
          font-family: "Montserrat-Bold";
          font-size: 14px;
          line-height: 16px;
          border: none;
          background: $green;
          color: $white;
          text-align: center;
          border-radius: 4px;
          position: relative;
          bottom: -30px;
          left: 0;
          right: 0;
          margin: 0 auto;
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25), 0px 5px 12px rgba(0, 0, 0, 0.25);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@import "media";
